Pods
Podfile.lock
ck101.xcodeproj/xcuserdata
ck101.xcodeproj/project.xcworkspace/xcuserdata
ck101.xcworkspace/xcuserdata
ck101Viewer.xcodeproj/project.xcworkspace/xcuserdata/Evan.xcuserdatad
ck101Viewer.xcworkspace/xcuserdata/Evan.xcuserdatad
ck101Viewer.xcodeproj/xcuserdata/Evan.xcuserdatad
photoviewer.xcodeproj/xcuserdata
photoviewer.xcodeproj/project.xcworkspace/xcuserdata
